[Unit]
Description=carbon-c-relay
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/local/bin/ccrelay -D -l /var/log/ccrelay/ccrelay.log -p 2000 -P /var/run/ccrelay.lock -f /usr/local/etc/ccrelay.conf
Restart=always
RestartSec=5
TimeoutSec=5
User=root

[Install]
WantedBy=multi-user.target
